#toolBox .menuBasket {
    z-index: 1000 !important;
}

#toolBox .menuBasket img {
    
}

#toolBox ul li img {
/*    top: -10px !important;
    left: 20px !important;
    padding-top: 0px !important;*/
    width: 32px !important;
    height: 32px !important;
}


.layout, .ui-layout-unit,  .ui-layout-unit-content {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

#layoutUnit_top .ui-widget-content {
    background-color:#001F5F !important;
 }

.ui-layout-resizer, .ui-layout-resizer-north, .ui-layout-resizer-open, .ui-layout-resizer-north-open{
    height:0px !important;
    display: none !important;
}

#layoutUnit_left, #layoutUnit_center {
    position: absolute;
    top: 70px !important;
}

.ui-datatable-scrollable-header-box, .ui-datatable-scrollable-body {
    margin-right: 0px !important;
}
