.DS_Store
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/EnterpriseApplication1/nbproject/private/
/MerlionAirlinesSystem/MerlionAirlinesSystem-ejb/build/
/MerlionAirlinesSystem/MerlionAirlinesSystem-ejb/dist/
/MerlionAirlinesSystem/MerlionAirlinesSystem-war/build/
/MerlionAirlinesSystem/build/
/MerlionAirlinesSystem/dist/
/MerlionAirlinesSystem/MerlionAirlinesSystem-war/dist/
/MerlionAirlinesSystem/MerlionAirlinesSystem-ejb/setup/
.DS_Store
/MerlionAirlinesSystem/MerlionAirlinesSystem-war/nbproject/
/MerlionAirlinesSystem/nbproject/
/MerlionAirlinesSystem/MerlionAirlinesSystem-ejb/nbproject/
/MerlionAirlinesSystem/MerlionAirlinesExternalSystem/nbproject/private/
/MerlionAirlinesSystem/MerlionAirlinesExternalSystem/build/
/MerlionAirlinesSystem/MerlionAirlinesExternalSystem/dist/
/MerlionAirlinesSystem/MerlionAirlinesExternalSystem/nbproject/
/MerlionAirlinesSystem/MerlionAirlinesExternalSystem/build.xml
/MerlionAirlinesSystem/MerlionAirlinesSystem-war/build.xml
/MerlionAirlinesSystem/build.xml
/MerlionAirlinesSystem/MerlionAirlinesSystem-ejb/build.xml
/MerlionAirlinesSystem 18.1/MerlionAirlineGDSSystem/build/
/MerlionAirlinesSystem 18.1/MerlionAirlineGDSSystem/nbproject/private
/MerlionAirlinesSystem 18.1/MerlionAirlinesExternalSystem/build
/MerlionAirlinesSystem 18.1/MerlionAirlinesExternalSystem/nbproject/private
/MerlionAirlinesSystem 18.1/MerlionAirlinesSystem-ejb/build
/MerlionAirlinesSystem 18.1/MerlionAirlinesSystem-ejb/nbproject/private
/MerlionAirlinesSystem 18.1/MerlionAirlinesSystem-war/build
/MerlionAirlinesSystem 18.1/MerlionAirlinesSystem-war/nbproject/private
/MerlionAirlinesSystem 18.1/build
/MerlionAirlinesSystem 18.1/dist
/MerlionAirlinesSystem/MerlionAirlineGDSSystem/build.xml
/MerlionAirlinesSystem/MerlionAirlineGDSSystem/nbproject/
/MerlionAirlinesSystem/MerlionAirlineGDSSystem/build/
/MerlionAirlinesSystem/MerlionAirlineGDSSystem/dist/
/MerlionAirlinesSystem/MerlionAirlineDDSSystem/nbproject/private/
/MerlionAirlinesSystem/MerlionAirlineDDSSystem/build/
/MerlionAirlinesSystem/MerlionAirlineDDSSystem/dist/
/MerlionAirlinesSystem/MerlionAirlineDDSSystem/build.xml
/MerlionAirlinesSystem/MerlionAirlineDDSSystem/nbproject/